services:
  tailnet:
    env_file:
      - .env
    container_name: tailnet
    build:
      context: .
    image: ghcr.io/sudosu201/tailnet:beta
    environment:
      - TAILSCALE_AUTHKEY=${TAILSCALE_AUTHKEY}
      - TAILNET_NAME=${TAILNET_NAME}
    devices:
      - /dev/kvm
      - /dev/net/tun
      - /dev/vhost-net
      - /dev/vhost-vsock
      - /dev/vsock
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv6.ip_forward=1
    cgroup: private
    pid: private
    ipc: private
    network_mode: bridge
    ports:
      - 8006:8006
    volumes:
      - ./qemu:/storage
    restart: always
    stop_grace_period: 2m
    develop:
      watch:
        - action: sync
          path: ./web/conf/defaults.json
          target: /usr/share/novnc/defaults.json
        - action: sync
          path: ./web/conf/mandatory.json
          target: /usr/share/novnc/mandatory.json
        - action: sync
          path: ./web/conf/nginx.conf
          target: /etc/nginx/default.conf
        - action: sync
          path: ./web
          target: /var/www/
          ignore:
            - conf/
        - action: sync
          path: ./src
          target: /run/
